{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href={% static "login/Style.css" %}>
<table>	
	<tr>
	<td height=60 width=33% class ="colorA "><a href="{% url 'login' %}/../../../" class="colorBlack"><center>Home Page</td>
	<td height=60 width=33% class ="colorB "><a href="{% url 'login' %}/../../signup"class="colorBlack"><center>  Signup </td>
	<td height=60 width=33% class ="colorA "><a href="{% url 'login' %}"class="colorBlack"><center>  Login  </td>
	<tr>
</table>

<table style=" margin-bottom: 300px;">	
	<tr>
	<td width=100 height=40>
	<tr>
	<td>
	<td><h1>Login</h1>
	<tr><td>
	<td><p><form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <br><button type="submit">Submit</button>
  <p>
  <font size=2>Don't have an account yet?
  <a href="{% url 'login' %}/../../signup">signup</a></font>
</form></td>
  
	
</table>


{% endblock %}