{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href={% static "login/Style.css" %}>
<table>	
	<tr>
	<td height=60 width=33% class ="colorA "><a href="{% url 'login' %}/../../../" class="colorBlack"><center>Home Page</td>
	<td height=60 width=33% class ="colorB "><a href="{% url 'login' %}/../../signup"class="colorBlack"><center>  Signup </td>
	<td height=60 width=33% class ="colorA "><a href="{% url 'login' %}"class="colorBlack"><center>  Login  </td>
	<tr>
</table>

<table style=" margin-bottom: 300px;">	
	<tr>
	<td width=100 height=40>
	<tr>
	<td><td>
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
	<table style="width:50%"><tr>
	<td>Username
	<td>Adjective
	<td>Password
	<td>Password confirmation
	<tr>
	{% for fields in form %}
		{{ fields.errors }}
		<td>
		{{ fields }}
	{% endfor %}
	</table>

    <p><button type="submit">Sign up</button>
  </form></td></table>
{% endblock %}