<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}A{% endblock %}</title>
</head>
<body bgcolor="#ECFCFF">
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>