{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href={% static "login/Style.css" %}>
<table>	
	<tr>
	<td height=60 width=33% class ="colorA "><a href="{% url 'login' %}/../../../" class="colorBlack"><center>Home Page</td>
	<td height=60 width=33% class ="colorB "><a href="{% url 'login' %}/../../signup"class="colorBlack"><center>  Signup </td>
	<td height=60 width=33% class ="colorA "><a href="{% url 'login' %}"class="colorBlack"><center>  Login  </td>
	<tr>
</table>
<table style=" margin-bottom: 300px;">	
	<tr>
	<td width=100 height=40>
	<td>
	<tr>
	<td>
	<td>
{% if user.is_authenticated %}
  <p>Hi 
  {% if user.skills %}
  {{ user.skills }}
  {% else %} Polos
  {% endif %}
  {{ user.username }}!
  <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
  <p>Don't have an account yet?</p>
  <a href="{% url 'login' %}/../../signup">Signup</a>
{% endif %}
</td>
</table>
{% endblock %}