html {
  margin: 0px;
}
body {
  margin: 0px;
}
.icon
	{
        height: 200px;
    }
height60
	{
        height: 60px;
    }
.contact
	{
        height: 60px;
		background-color:black;
    }
.header
	{
        height: 75px;
		background-color:black;
		font-family:Muli;
		font-size:30px;
		color:#FF9600;
		height:100%;
		width:25%;
    }
.headerIcon
	{
        height:75px;
		background-color:black;
		width:75px;
    }
.white
	{
		color:white;
	}
.orangeSmall
	{
		color:#FF9600;
		font-size:18px;
	}
.bgWhite
	{
		background-color:white;
	}
.padding10
	{
		padding:10%;
	}
.noPadding
	{
		padding:-2%;
	}
.paddingv10
	{
		padding-bottom:10%;
		
	}
.headerTable
	{
		height:75px;
	}
.education
	{
		width:33%;
	}
.pad
	{
		width:5%;
	}
.skills
	{
		width:25%;
	}	
.width100
	{
		width:100%;
	}
.headerLeft
	{
        height: 75px;
		background-color:black;
		font-family:Muli;
		font-size:30px;
		color:#FF9600;
		height:100%;
		width:50%;
    }
.skillSet
	{
		font-family:Cambria;
		font-size:54px;
		color:black;
    }
.colorB
	{
		width:33%;
		background-color:#B2FCFF;
	}
.colorA
	{
		width:33%;
		background-color:#3E64FF;	
	}
.colorBlack
	{
		color:#000000;	
	}
p
	{
		font-family:Cambria;
		font-size:24px;
		
	}
a
	{
		text-decoration:none;
		color:#FF9600;
	}
table
	{
  		border-collapse: collapse;
		width:100%;
	}	